:root{
    --primary-green: #65DA94;
    --primary-red: crimson;
    --primary-dark: #040404;
    --primary-gray: #636161;
    --light-dark: #CCC;
    --light-green: #F2FFF7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: .3rem;
    border: 1px solid var(--primary-gray);
    border-radius: 20px;
    box-shadow: 0 2px 3px var(--light-dark);
    padding: 0.8rem;
    font-size: 20px;
    opacity: 0.92;
    transition: .3s ease-in-out;
    color: #FFF;
}

button.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4;
}

button:hover {
    opacity: 1;
}

.navbar{
    background: var(--primary-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-bottom: 1px solid var(--light-dark);
    padding: 1rem 0;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1.5rem;
    margin: 3rem 0;
    width: 100%;
}

.file-upload__container{
    width: 40%;
    display: flex;
    flex-direction: column;
    background: var(--light-green);
    padding: 2rem;
    border-radius: 20px;
    border: 1px dashed var(--primary-gray);
    gap: .75rem;
}

.file-upload__container p{
    text-align: center;
    margin-bottom: 1.5rem;
}

span.red{
    color: var(--primary-red);
}

.upload-button__wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.upload-button__wrapper button{
    font-weight: 600;
    background: var(--primary-green);
    width: 100%;
    z-index: 10;
}

.upload-button__wrapper button svg{
    opacity: 0.85;
    transition: .3s ease-in-out;
}

.upload-button__wrapper button:hover > svg{
    opacity: 1;
    transform: translateY(-3px);
}

.upload-button__wrapper input[type=file]{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    min-height: 300px;
}

.upload-image__name {
    font-size: 12px;
}

.process-image__button {
    display: none;
    background: var(--primary-red);
}

#loader {
    display: none;
    vertical-align: middle;
    border: 4px solid #F3F3F3;
    border-top: 4px solid var(--primary-red);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: .5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.results__container{
    width: 95%;
    margin: auto;
}

.results__container .results__placeholder{
    color: var(--light-dark);
    text-align: center;
}

.results__container .results__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--light-dark);
    border-radius: 20px;
    visibility: hidden;
    padding: 1rem;
    gap: 1.5rem;
}

.annotated-img__container, .results-data__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.annotated-img__container img {
    width: 100%;
}

.annotated-img__container a {
    background: var(--primary-green);
}

.results__card{
    width: 100%;
    border: 1px solid var(--light-dark);
    border-radius: 8px;
    overflow: hidden;
}

.results__card .results__card--header{
    background: var(--primary-green);
    padding: 1rem 2rem;
    box-shadow: 0px 0px 0px 6px transparent;
    color: #FFF;
}

.results__card .results__card--body{
    padding: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    text-align: left;
    color: #000;
    background-color: var(--light-green);
}

table tbody tr {
    text-align: left;
}

table thead tr th, tbody tr td {
    padding: 3px;
    border: 1px solid var(--light-dark);
}

.error__card{
    width: 100%;
    background: pink;
    border: 1px solid var(--primary-red);
    border-radius: 8px;
    padding: 2rem;
    color: var(--primary-red);
    font-weight: 500;
}
